<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="pet01" class="org.liuep.boot.bean.Pet">-->
<!--        <property name="name" value="tom"/>-->
<!--    </bean>-->

    <bean id="cat" class="org.liuep.boot.bean.Pet">
        <property name="name" value="haha"/>
    </bean>
    <bean id="dog" class="org.liuep.boot.bean.Pet">
        <property name="name" value="qaq"/>
    </bean>
</beans>